$primary-color: #fbcf18;
$gradient-color: #ffea2e;
$secondary-color: #000306;
$darkBlue: #101a28;
$text-color: #00adb5;
$text-color2: #ffffff;
//font-size
$font-med: 1.125rem; //18px
$font-sm: 0.875rem; //14px
$font-heading: 3.5rem; //56px
$font-heading2: 3rem; //48px
$font-text: 1.25rem; // 20px