@import "./color";
@import "./animations";
.hero {
    background-color: $primary-color;
    @include breakpoint-up(large) {
        display: flex;
        align-items: center;
        flex: 3;
        order: 2;
    }
    &__image {
        position: relative;
        background-image: url("/src/assets/img/hero-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 23.5rem;
        @include breakpoint-up(large) {
            height: 41rem;
            flex: 1;
            order: 2;
            background-image: url("/src/assets/img/hero-bg.svg");
            background-position: top left;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("/src/assets/img/hero-il-dekstop.svg");
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    &__text {
        text-align: center;
        padding: 1em;
        @include breakpoint-up(large) {
            flex: 1;
            order: 1;
            h1 {
                font-size: 3.5rem !important;
            }
        }
        h1 {
            font-weight: 700;
            font-size: 1.75rem;
            line-height: 1.5;
            color: $text-color2;
        }
        p {
            font-size: $font-med;
            font-weight: 500;
            color: $text-color2;
            margin-bottom: 2.31rem;
        }
    }
}

// section.hero {
//     display: flex;
//     width: 100%;
//     justify-content: space-between;
// }
// .hero__image img {
//     position: absolute;
//     top: 40;
//     right: 0;
//     z-index: -999;
// }
// .hero__text {
//     width: 50%;
//     padding-top: 124px;
//     margin-left: 80px;
//     h1 {
//         font-size: 64px;
//         font-weight: 700;
//         color: $text-color2;
//     }
//     p {
//         font-size: $font-med;
//     }
// }