@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.125rem;
  line-height: 1.3;
  background-color: #fbcf18;
  color: #000306;
  font-weight: 300;
}

body.noscroll {
  overflow: hidden;
}

html {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.1;
  margin-top: 0px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.container--pall {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.button__primary {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  background-color: #ffffff;
  color: #fbcf18;
  padding: 0.7rem 1.875rem;
  border-radius: 50px;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}

a.button__primary:hover {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  background-color: #f0c204;
  color: white;
  padding: 0.7rem 1.875rem;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.5s;
}

.button__secondary {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  background-color: #fbcf18;
  color: #000306;
  padding: 0.7rem 1.875rem;
  border-radius: 50px;
  border: 2px solid #000306;
  cursor: pointer;
  transition: all 0.5s;
}

a.button__secondary:hover {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  background-color: #000306;
  color: #fbcf18;
  padding: 0.7rem 1.875rem;
  border-radius: 50px;
  border: 2px solid #000306;
  cursor: pointer;
  transition: all 0.5s;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-dekstop {
    display: none;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.has-fade {
  visibility: hidden;
}

.header {
  position: relative;
  z-index: 1;
}

.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(#101a28, transparent);
}

.header nav {
  position: relative;
  padding: 0px 1.5rem;
  background-color: #fbcf18;
}

.header__logo {
  display: flex;
  align-items: center;
  color: #000306;
  font-family: "Quicksand", sans-serif;
}

.header__logo h1 {
  font-weight: 700;
  padding-top: 20px;
}

.header__logo img {
  width: 3.175rem;
  height: 2.715rem;
  border-radius: 15px 25px;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  transform-origin: 2px 2px;
}

.header__links a {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000306;
  margin-right: 32px;
  padding: 11px 0px;
}

.header__links a:hover {
  color: #001d39;
  border-bottom: 2px solid white;
}

.header__menu {
  position: absolute;
  width: calc(92% - 3rem);
  margin: 0 1.5%;
  transform: translateX(2%);
  background-color: #fbcf18;
  padding: 1.625rem;
  margin-top: 0.675rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  text-align: center;
  color: #000306;
  padding: 0.625rem;
  font-weight: 400;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.has-fade {
  visibility: hidden;
}

@media (min-width: 64em) {
  .hero {
    display: flex;
    align-items: center;
    flex: 3;
    order: 2;
  }
}

.hero__image {
  position: relative;
  background-image: url("/src/assets/img/Ellipse-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 23.5rem;
}

@media (min-width: 64em) {
  .hero__image {
    height: 41rem;
    flex: 1;
    order: 2;
    background-image: url("/src/assets/img/Ellipse-bg.svg");
    background-position: top left;
  }
}

.hero__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/hero-il.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero__text {
  text-align: center;
  padding: 1em;
}

@media (min-width: 64em) {
  .hero__text {
    flex: 1;
    order: 1;
  }
  .hero__text h1 {
    font-size: 3.5rem !important;
  }
}

.hero__text h1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.5;
  color: #ffffff;
}

.hero__text p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 2.31rem;
}
/*# sourceMappingURL=main.css.map */